.body{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.btn{
    width: 70%;
}

.uploadBtn{
    height: 70px;
    width: 70px;
    font-size: 70px;
    margin-bottom: 20px;
}

.uploadIcon{
    font-size: 70px;
}

.custom-file-upload {
   display: inline-block;
   padding: 6px 12px;
   cursor: pointer;
 }

.files{
  display: flex;
  width: 80%;
  justify-content: space-around;
}
dropdown-list{
  width: 80%;
}
