<ion-content>
<div class=body>
    <div class=logo>
      <img class="logoHAW" src="assets/logo.svg" alt="logo klausurenapp"/>
    </div>

<div class="checkMark">
<!-- Generator: Adobe Illustrator 25.2.2, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 100 100" style="enable-background:new 0 0 100 100;" xml:space="preserve">
<style type="text/css">
	.check{fill:#3AAA35;}
</style>
<rect x="13.34" y="58.82" transform="matrix(0.7472 0.6646 -0.6646 0.7472 49.1209 -4.77)" class="check" width="34.98" height="6.72"/>
<rect x="30.08" y="50.09" transform="matrix(-0.6646 0.7472 -0.7472 -0.6646 136.3611 45.6979)" class="check" width="55.68" height="6.72"/>
</svg>
</div>
<div class="text">
    <p>Deine E-Mail Adresse wurde erfolgreich bestätigt. Bitte vergeben Sie jetzt ihr Passwort!</p>
</div>
<div class="credentials">
    <mat-form-field class="loginInput">
        <mat-label>E-Mail</mat-label>
        <input matInput [value]="this.email" disabled=true>
      </mat-form-field>
      <mat-form-field class="loginInput">
        <mat-label>Password</mat-label>
        <input [(ngModel)]="pw" [type]="hide ? 'password' : 'text'" matInput placeholder="Nicht dein HAW Passwort!">
        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
      </mat-form-field>
</div>
<button mat-raised-button color="primary" (click)="onClickRegister()">Registrieren</button>
    </div>
</ion-content>
