 .body{
     height: 100vh;
     width: 100vw;
     display: flex;
     align-items: center;
     flex-direction: column;
 }

 .logo{
     height: 18vh;
     width: 80vw;
     background-color: #004C99;
     border-radius: 10px;
     display: flex;
     justify-content: center;
     align-items: center;
 }

  .credentials{
      width: 80vw;
      height: 20vh;
      margin-top: 8vh;
  }

  .loginInput{
      width: 100%;

   }

   button{
       width: 80vw;
       height: 6vh;
   }

   .logoHAW{
     width: 70%;
     max-height: 90%;
   }
