.body{
    width: 100vw;
    display: flex;
    align-items: center;
    flex-direction: column;
  justify-content: center;
  height: 100%;
}

.logo{
    height: 17vh;
    width: 80vw;
    background-color: #004C99;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

svg{
    width: 70vw;
}

.text{
    width: 80vw;
    margin-top: 20vh;
}
