<div class="body">
  <dropdown-list [list]="this.studiengang$ | async" placeholder="Studiengang"></dropdown-list>
  <dropdown-list [list]="semesters" placeholder="Semester"></dropdown-list>
  <dropdown-list [list]="moduls" placeholder="Modul"></dropdown-list>
    <button mat-raised-button color="primary" class="btn" disabled=false (click)="getKlausur()">Klausuren Anfordern</button>
    <div class="informationBox">
        <p class="informationText">Du findest deinen Studiengang, dein Semester oder dein Modul nicht wieder? Dann sind für diese wahrscheinlich noch keine Klausuren vorhanden. Sorry!</p>
    </div>

</div>
