<div class="body">
    <div class="btn post disable-dbl-tap-zoom">
        <mat-icon [inline]="true" [style.color]="colorPost" (click)="onClickPost()">file_upload</mat-icon>
    </div>
    <div class="btn view disable-dbl-tap-zoom">
        <mat-icon [inline]="true" [style.color]="this.colorView" (click)="onClickView()">visibility</mat-icon>
    </div>
    <div class="btn profile disable-dbl-tap-zoom">

        <mat-icon [inline]="true">person</mat-icon>
    </div>
    <div class="btn settings disable-dbl-tap-zoom">
        <mat-icon [inline]="true">settings</mat-icon>
    </div>
</div>
